body {
  font-family: Celias, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color_white {
  color: white !important;
}
.color_black {
  color: black !important;
}

@media (max-width: 1022px) {
  .big_screen_header {
    display: none;
  }
}
@media (min-width: 1022px) {
  .small_screen_header {
    display: none;
  }
}
